<!-- Config file for the game -->

<config>
  <app>
    <title>Game Development Testbed</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="true"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
  </map>
  <entitiesManager>
    <Entities_Textures>
      <Tex name="Allied_Unit" path="textures/AlliedInfant_IG.png"/>
    </Entities_Textures>
    <Animations>
      <Allied_Unit>
        <state name="idle">
          <direction name="Up">
            <frame x="498" y="1744" w="16" h="27"/>
          </direction>
          <direction name="Down">
            <frame x="498" y="1744" w="16" h="27"/>
          </direction>
          <direction name="Left">
            <frame x="498" y="1744" w="16" h="27"/>
          </direction>
          <direction name="Right" >
            <frame x="498" y="1744" w="16" h="27"/>
          </direction>
          <direction name="UpLeft">
            <frame x="498" y="1744" w="16" h="27"/>
          </direction>
          <direction name="UpRight">
            <frame x="498" y="1744" w="16" h="27"/>
          </direction>
          <direction name="DownLeft">
            <frame x="498" y="1744" w="16" h="27"/>
          </direction>
        </state>
        <state name="Walk">
           <direction name="Up">
            <frame x="498" y="1744" w="16" h="27"/>
          </direction>
          <direction name="Down">
            <frame x="498" y="1744" w="16" h="27"/>
          </direction>
          <direction name="Left">
            <frame x="498" y="1744" w="16" h="27"/>
          </direction>
          <direction name="Right" >
            <frame x="498" y="1744" w="16" h="27"/>
          </direction>
          <direction name="UpLeft">
            <frame x="498" y="1744" w="16" h="27"/>
          </direction>
          <direction name="UpRight">
            <frame x="498" y="1744" w="16" h="27"/>
          </direction>
          <direction name="DownLeft">
            <frame x="498" y="1744" w="16" h="27"/>
          </direction>
        </state>
        <UnitDirection_DownRight>
          
        </UnitDirection_DownRight>
      </Allied_Unit>
    </Animations>
  </entitiesManager>
</config>